@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    
    font-family:  'Poppins', sans-serif;
}
.carousel-item{
    position: relative;
}
.back-content2{
    position: absolute;
    top: 33%;
    left: 5%;
    word-spacing: 4px;

}
.back-content2 h1{
    
    font-weight: bolder;
    font-size: 3.5rem;
    color: black;
}
.back-content2 p{
    color: black;
    font-size: 22px;
    font-weight:bolder;
}
.back-content2 p span{
    color: rgb(12, 171, 245);
}
.back-content2 button{
   
    background-color: black;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 0px;
    border: none;
    word-spacing: 4px;
}
.nav-link{
    font-size: 14px;
}

.back img{
    height: 79vh;
    object-fit: cover;
}
/* .back-content{
    background-image: url("images/bg1.jpg");
    height: 79vh;
    position: relative;
    word-spacing: 4px;
} */
/* .back-content h1{
    position: relative;
    top: 33%;
    left: 5%;
    font-size: 3.5rem;
}
.back-content p{
    position: relative;
    top: 33%;
    left: 6%;
    font-size: 20px
} */
/* .back-content button{
    position: relative;
    top: 33%;
    left: 6%;
    background-color: black;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 0px;
    border: none;
    word-spacing: 4px;
} */

/* color buttona */
.color-buttons{
    margin: 2% 0;
    font-size: 16px;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;
}

/* featured collections */
.featured, .instagram-section{
    margin: 5% 0;
    position: relative;
}
.featured h2, .instagram-section h2{
    font-size: 22px;
    position: relative;
    left: 40%;
    letter-spacing: 1px;
    font-weight: bolder;
}
.featured .feature-links{
    position: absolute;
    top: 90px;
    left: 28%;
}
.active{
    color: rgb(44, 150, 236);
}
.featured .feature-images{
    position: relative;
    top: 130px;
    /* right: 1%; */
}

.feature-images img{
    width: 100%;
    height: 100%;
}
.featured .right{
    margin-bottom: 3%;
}

/* hot-deal */
.hot-deal{
    margin-top: 10%;
}
.hot-deal img{
    width: 100%;
    height: 100%;
}
.hot-deal h3{
    font-size: small;
    font-weight: 600;
    margin-top: 5%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
.hot-deal h2{
    font-size: 36px;
    margin-top: 5%;
    font-family: 'Besley', serif;
}
.hot-deal .rating{
    color: rgb(240, 189, 22);
    display: flex;
    font-size: 14px;
}
.hot-deal .hot-price{
    font-size: 2rem;
}
.dot-s{
    font-size: 6px;
}
.hot-deal .hot-p{
    font-size: 14px;
}
.hot-deal .rating p{
    color: rgb(196, 187, 187);
    font-size: 13px;    
}

.color-dots:last-child{
    color: purple;
}
.size-div, .sale-date{
    margin-top: 3%;
}
.size-div .size{
    border: 1px solid gray;
    padding: 5px 25px;
    margin-right: 8px;
}
.sale-d{
    border: 1px solid rgba(71, 156, 236, 0.986);
    margin-right: 2%;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background:rgba(41, 134, 221, 0.986) ;
    padding: 3px 15px;
}
.sale-d span{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
}

/* Instagram */
.instagram-section .container{
    position: relative;
}
.instagram-section img{
    height: 100%;
    width: 100%;
}
.instagram-section .pos{
    position: absolute;
    top: 12%;
    left: 45%;
}
/* Best Seller */
.famous-items .col{
    margin: 0 1%;
}
.famous-items h2{
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom: 3px solid rgb(202, 197, 197);
    line-height: 50px;
}
.best-div{
    display: flex;
    margin-top: 10%;
}
.best-div img{
    width: 45%;
    height: 50%;
    border: 1px solid rgb(214, 209, 209);
}
.best-content h3,.best-content .rating,.best-content p, .best-content .fas{
    font-size: 14px;
}

/* footer */
.footer-section .container{
    margin-top: 5%;
    background-image: linear-gradient(rgba(4,9,30,.7),rgba(4,9,30,.7)), url("images/footer.jpg");
    height: 60vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.footer-content img{
    object-fit: cover;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 15%;
    left: 50%;
}
.footer-content .face-content{
    position: absolute;
    color: rgb(209, 203, 203);
    width: 75%;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    top: 40%;
    left: 15%;
}
.footer-content .face-name{
    position: absolute;
    top: 65%;
    left: 48%;
    letter-spacing: 1px;
}
.footer-content .face-name span{
    position: absolute;
    display: flex;
    flex-direction: column;
    letter-spacing: normal;
    font-size: 14px;
    color: rgb(197, 186, 186);
    left: 5%;
}
.social-media p{
    font-size: 14px;
}
.social-media i{
    border: 1px solid #fff;
    border-radius: 50%;
    padding:  4%;
}
.facebook-col{
    background: #3b5998;
}
.twitter-col{
    background: #00acee;
}
.instagram-col{
    background:  #C13584;
}
.dribble-col{
    background:#ff6699;
}
.pinterest-col{
    background:  #E60023;
}

/* payment  */
.payment-method .container{
    position: relative;
    background: rgb(26, 25, 25);
    height: 45vh;
}
.payment-method img{
    position: absolute;
    top: 20%;
    left: 48%;
}
.payment-method p{
    position: relative;
    font-family: 'Lobster', cursive;
    font-size: 15px;
    top: 45%;
    width: 80%;
    left: 12%;
    color: rgb(201, 188, 188);
}
.payment-method .pos{
    position: relative;
    top: 45% ;
    left: 5%;
}

.pay-logos img{
    height: 20px;
    width: 50px;
    object-fit: cover;
    position: relative;
    top: 155px;
    left: 37%;
}

.footer p{
    font-size: 16px;
}

/* Contact form */
.contact-form{
    margin: 6% 0;
   
    position: relative;
}
.contact-form .div1 .fas{
    position: relative;
    font-size: 60px;
    margin-top: 15%;
}
.contact-form .div1 h2{
    font-size: 38px;
}
form{
    width: 60%;
    margin: 0 auto;
}
.contact-form .div2{
    padding-top: 5%;
}
.contact-form .div2 .btn{
    position: relative;
    left: 18%;
}

.error{
    font-size: 16px;
    margin-left: 25%;
    margin-top: 30px;
    color: orangered;
    font-weight: lighter;
}


.al-txt{
    display: none;
    width: 80%;
    margin: 2% auto;
    text-align: center;
}




@media screen  and (max-width:810px){
    .pay-logos img{
        display: none;
     }
.payment-method{
    position: relative;
}
.payment-method .pos{
    display: none;
}
.payment-method img{
    position: absolute;
    left: 35%;
 }
}
@media screen  and (max-width:510px){
    .pay-logos img{
       display: none;
    }
}
